<!DOCTYPE html>
<html>
<head>
  <title>Player</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
  <iframe id="player"
          width="200"
          height="200"
          {% if video_id %}
          src="//www.youtube.com/embed/{{ video_id }}?enablejsapi=1"
          {% else %}
          src=""
          {% endif %}
          frameborder="0"
          allowfullscreen>
   </iframe>

  <script src="https://www.youtube.com/iframe_api"></script>
  <script type="text/javascript">
    var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      });
      loadNextVideo();
    }

    function loadNextVideo() {
      $.post('/getnextvideo', null, function(data) {
        console.log('data:' + data);
        var src = "//www.youtube.com/embed/"+data+"?enablejsapi=1";
        $("#player").attr('src', src);
      });
    }

    function onPlayerStateChange(event) {
      // if a video just ended
      if (event.data == 0) {
        loadNextVideo();
      }
    }

    function onPlayerReady() {
      player.playVideo();
    }
  </script>
</body>
</html>